{% extends 'base.html.twig' %}

{% block title %}liste des interventions{% endblock %}

{% block body %}
    <h1>Liste des interventions</h1>

    <table class="table">
        <thead>
            <tr>
                
                <th>Date</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for intervention in interventions %}
            <tr>
                
                <td>{{ intervention.Date ? intervention.Date|date('Y-m-d') : '' }}</td>
                <td>{{ intervention.Type }}</td>
                <td>
                    <a href="{{ path('app_interventions_show', {'id_int': intervention.idInt}) }}">show</a>
                    <a href="{{ path('app_interventions_edit', {'id_int': intervention.idInt}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_interventions_new') }}">Create new</a>
{% endblock %}
